infra/n8n/workflows/lead-created.json
{
  "name": "Shyn Lead Created",
  "nodes": [
    {
      "parameters": {
        "path": "lead-created",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_LeadCreated",
      "name": "Lead Created Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary",
              "name": "summary",
              "value": "=New lead {{$json.body.leadId}} via {{$json.body.source}} for {{$json.body.visaType}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "Set_LeadSummary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\",\"message\":$json.summary}"
      },
      "id": "Respond_Lead",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [760, 280]
    }
  ],
  "connections": {
    "Lead Created Webhook": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "lead-created-v1"
}
